
     h1 {
        color: blue;
    }
   
   .kartik{
     background-color: lawngreen;
     text-align: center; 
     display: flex;
     justify-content: space-between;
   }
   .grid{
       display: flex;
       flex-wrap: wrap;
       justify-content:space-around;
   }
   .futer{
      display: flex; 
      justify-content: flex-end;
   }
   h2 {
       text-align: center;
   }